* {
  margin: 0;
  padding: 0;
}
#delivery-div {
  height: 70px;
  border: 1px solid #f9f9f9;
}
#head > h4 {
  margin: 0px;
  font-weight: 600;
}
#head > p {
  margin: 0px;
}
#search_bar {
  border: 1px solid #dee2e6;
  background-color: #f8f9fa;
  border-radius: 5px;
  padding-inline: 10px;
  width: 50vw;
}
#search_bar > input {
  width: 95%;
  height: 40px;
  border: none;
  background-color: #f8f9fa;
}
div > img {
  width: 85vw;
}
#category {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  width: 85vw;
}
.scrollable_div {
  width: 85vw;
  margin: auto;
}
.list {
  white-space: nowrap;
  overflow: hidden;
  overflow-x: scroll;
  display: flex;
  gap: 16px;
}
.list > img {
  display: inline-block !important;
}
#products {
  width: 85vw;
  margin: auto;
}
.pro {
  width: 100px;
  height: 100px;
}
#box {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}
.my-card {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}
 .card {
    width: 200px; /* Adjust the card width as needed */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }

  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }